/* CSS declarations go here */
.header {
    padding: 20px;
    text-align: center;
    background-color: #5F7F8F;
}

h1{
    margin: 0px;
}

div#login-dropdown-list {
    position: absolute;
    left: -175px;
    top: 25px;
}

header{
    height: 25px;
    float: right;
    margin: 10px;
}

main {
    position: absolute;
    top: 100px;
    padding: 15px;
}

th{
    width: 250px;
    font-size: x-large;
    background-color: #c9c8c9;
}

.logged-in-user{
    height: 40px;
    text-align: center;
    background: #eee;
    font-size: x-large;
    font-weight: bold;
}

td{
    padding-left: 10px;
}

input{
    border: none;
    outline: none;
 }
button {
   border-radius: 34px;
   width: 27px;
   outline: none;
   float: right;
   margin-right: 5px;
}